{% extends "base.html" %} 
{% load crispy_forms_tags %}{% load static %} 
{% block content %}
<style>

</style>
<div class="container p-3">
    <div class="row">
        <div class="col">Enter Test PIN <i class="fas ml-1 text-success fa-check-circle"></i> </div>
        <div class="col">Fill details  </div>
        <div class="col">Read Instructions </div>
        <div class="col">Take test </div>
    </div>
    <div class="progress mt-1" style="height:8px">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
</div>
</div>
<div class="container p-4 mt-2">
<div class="row">
<div class="col-sm">
<form class="form-signin" id="candidate_form" method="post">
<div class="text-center mb-4">
     <h3 class="h4 text-dark mb-3 font-weight-normal">Provide details</h3>
  </div>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-block btn-primary btn-sm">Next</button>
  </form>
  </div>
  <div class="col-sm">
  <img src="{% static 'img/wfh_1.svg' %}"
  </div>
  </div>
</div>
{% endblock %}

