{% extends "base.html" %} 
{% block content %} 

{% load static %}

{% if not  user.is_authenticated %}
<div class="container">
  <div class="row">
      <div class="col-md-6 col-lg-6 text-sm-center" style="background: rgba(241,247,252,0);text-align: center;">
          <section style="padding-top: 80px;padding-bottom: 80px;">
              <h1 class="text-start" style="color: var(--bs-success);">Welcome to planful&#39;s pariksha</h1>
          </section>
          <div class="row">
              <div class="col">
                  <section class="text-center" style="margin: 0px;">
                      <p><strong>Get hired in few simple steps.</strong><br /><br /></p>
                      <ol class="text-center" style="padding: -1px;padding-left: 30px;">
                          <li>Register &amp; Sign in</li>
                          <li>Enter the Test Id &amp; Password</li>
                          <li>Read Instructions</li>
                          <li>Take the test</li>
                      </ol>
                  </section>
              </div>
              <div class="col" style="background: url('https://blush.design/api/download?shareUri=doBLo7kNZbRyCwvk&amp;c=Bottom_0%7E89c5cc_Hair_0%7E4a312c_Skin_0%7Ed4a181_Top_0%7Eff4133&amp;w=800&amp;h=800&amp;fm=png') center / contain space;"></div>
          </div>
      </div>
      <div class="col-md-6">
          <section class="login-clean" style="background: rgba(241,247,252,0);padding-top: 42px;">
              <form method="post" style="padding: 30px;width: auto;height: 495px;max-width: 333px;padding-top: 44px;">
                  <h2 class="text-xl-center" style="margin-top: 5px;margin-bottom: 35px;">Sign Up</h2>
                  <div class="mb-3"></div>
                  <div class="mb-3"><input type="email" class="border rounded-0 form-control" name="email" placeholder="Email" style="background: rgba(227,247,254,0);" /></div>
                  <div class="mb-3"><input type="password" class="border rounded-0 form-control" name="password" placeholder="Password" style="background: rgba(227,247,254,0);" /></div>
                  <div class="mb-3"><button class="btn btn-primary d-block w-100" type="button" style="background: #0c61f9;font-size: 16px;letter-spacing: 1px;">SIGN UP</button></div>
                  <div class="mb-3" style="margin-top: 19px;"><small>Already have an account? <span><a href="#">Sign in</a></span></small></div>
                  <div class="text-center mb-3" style="margin-top: 24px;margin-bottom: 0px;text-align: center;"><span class="text-uppercase text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center" style="color: rgb(157,157,157);margin: auto;transform: skew(58deg);transform-origin: center;margin-left: 55px;">---------- or ----------</span></div><a class="btn btn-outline-primary pull-right" role="button" data-bs-toggle="tooltip" href="#" style="color: var(--bs-blue);background: rgba(13,110,253,0);border-style: solid;border-bottom-color: var(--bs-blue);width: 100%;margin-top: 5px;" title="Sign in with your google account"><img src="google.png" style="width: 33px;height: auto;margin-right: 14px;" />Sign In with Google<span></span></a>
              </form>
          </section>
      </div>
  </div>
</div>

{% else %}
<div class="container p-3">
    <div class="row">
        <div class="col">Enter Test PIN</div>
        <div class="col">Fill details  </div>
        <div class="col">Read Instructions </div>
        <div class="col">Take test </div>
    </div>
    <div class="progress mt-1" style="height:8px">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
</div>
</div>
<form class="form-signin" id="pin_form" method="post">
{% csrf_token %}
  <div class="text-center mb-4">
     <h3 class="h4 text-dark mb-3 font-weight-normal">Enter the 8 digit PIN</h3>
  </div>

  <div class="form-label-group input-group-sm">
    <input type="password" name="pin" maxlength="8" id="inputPin" class="form-control" placeholder="Challenge PIN" required=true>
    <label for="inputPin"></label>
  </div>
 {% if error %}
 <p class="text-danger mb-2">{{error}}</p>
 {% endif %}
  <input type="submit" value="Access" class="default btn btn-lg btn-primary btn-block btn-sm" name="_save">
  {% comment %} <button class="btn btn-lg btn-primary btn-block btn-sm" type="submit">Proceed</button> {% endcomment %}
  <p class="mt-4 mb-3 text-muted text-center">© 2019-2020</p>
</form>

{% endif %}
{% endblock %}
